@import '../../styles/vars';

.section {
  overflow-y: auto;
  max-height: 430px;
}

.term {
  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  p {
    color: $primary-second-modified;
    margin-bottom: 28px;
  }
}