.tabs {
  display: flex;
  margin-bottom: 16px;

  .tab {
    display: flex;
    border: 1px solid #e23f65;
    border-radius: 4px;
    margin: 0px 8px 8px 0px;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 12px;

    h2 {
      font-weight: 700;
      margin-right: 4px;
    }

    &.active {
      background: #e23f65;

      h2, span {
        color: #fff;
      }
    }
  }
}

.cards {
  display: flex;
}