@import '../../styles/vars';

.input {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: 8px;

  &, input {
    width: 92%;
  }

  label {
    font-size: 13px;
  }

  input {
    font-size: 17px !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.border {
    width: 100%;

    input {
      border-bottom: 1px solid $dark;
      padding: 16px 0 8px 0;
      width: 100%;
    }
  }
}