@import '../../styles/vars';

.input {
  position: relative;
  padding-bottom: 8px;

  &, input {
    width: 92%;
  }

  label {
    font-size: 13px;
    position: absolute;
    bottom: calc(10px + 8px);
    transition: .5s;
    transition: 
      color .2s,
      top .2s,
      bottom .2s;
    user-select: none;
  }

  input {
    font-size: 17px !important;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &.border {
    width: 100%;

    input {
      border-bottom: 1px solid $dark;
      padding: 16px 0 8px 0;
      width: 100%;
    }
  }

  &.focused {
    color: $primary;

    label {
      top: 0;
    }
  }
}