@import '../../styles/vars';

.select {
  margin-bottom: 16px;
  position: relative;
  width: auto;
}

.option {
  display: flex;
  align-items: center;
  user-select: none;
  font-size: 20px;
  padding: 13px 16px 13px 20px;
  border-radius: 4px;
  border: 1px solid $light-primary;
  cursor: pointer;
  position: relative;

  .img {
    margin-right: 17px;
    img {
      width: 28px
    }
  }

  .arrow {
    position: absolute;
    right: 24px;
    margin-left: 7px;
    transition: .3s ease;
    fill: $accent;
  }

  &.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;

    .arrow {
      transform: rotate(180deg);
    }
  }
}

.dropdown {
  background: $light;
  width: 100%;
  z-index: 10;
  position: absolute;
  overflow: auto;
  max-height: 310px;
  border: 1px solid $light-primary;

  .option {
    border-top-style: none !important;
    font-size: 18px;
    color: $light-primary-modified;
    border: none;
  }
}

.input-wrap {
  display: flex;
  border-bottom: 1px solid black;
  align-items: flex-end;
  padding-top: 16px;
  justify-content: space-between;
  font-size: 18px;

  .input {
    border: none;
  }

  .valute {
    margin-bottom: 8px;
    font-weight: 700;
  }
}

.info {
  margin-top: 16px;
  min-height: 76px;
  display: flex;
  flex-direction: column;

  p {
    display: flex;
    margin-top: 8px;
    padding-right: 10px;
    font-size: 12px;
    color: $segment;
  }

  .range {
    span {
      &:last-child {
        margin-left: 5px;
      }
    }
  }
}

.input-border {
  border-bottom: 1px solid $dark; 
}