$primary: #00c6ff;
$primary-modified: rgba(88, 191, 249, .2);
$primary-second-modified: #393b53;
$primary-third: #5f6ab0;
$primary-notify: #181e45;
$segment: #867eac;
$segment-modified: #9996a7;
$accent: #e23f65;

$light: #fff;
$dark: #000;

$light-primary: rgb(178, 196, 214);
$light-primary-modified: rgb(153, 150, 167);

$light-modified: rgb(251, 251, 251);