@import "../../styles/vars";

.header {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 32px 0px 50px;
  position: relative;
}

.wrap {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.logo {
  width: auto;
  padding: 0px 24px;
  min-width: 195px;
}

.desc {
  .item {
    span {
      font-size: 14px;
      font-weight: 400;
      line-height: 16px;
      color: $primary-notify;
    }

    .svg {
      margin-right: 12px;
      vertical-align: middle;
    }
  }

  .item + .item {
    margin-top: 4px;
  }
}