@import '../../styles/vars';

.nav {
  display: flex;
}

.wrap {
  display: flex;
  align-items: center;
}

.button {
  padding-left: 18px;
  padding-right: 18px;
  background-color: $light-modified;
  box-shadow: transparent 0px 0px 0px 1px inset;
  flex-shrink: 0;
  margin-left: 16px;
  padding: 14px 18px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s ease 0s;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    .svg {
      margin-right: 9px;
    }
  }

  &__auth {
    color: $light;
    background: $accent;
    padding: 14px 28px;
  }
}