@import '../../styles/vars';

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 300px;
  min-width: 500px;
  padding: 36px;
  color: $primary-second-modified;

  h3 {
    font-weight: 500;
    font-size: 48px;
    line-height: 55px;
    margin: 12px 0px;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }

  a {
    outline: none;
    cursor: pointer;
    padding: 14px 28px;
    border-radius: 4px;
    white-space: nowrap;
    color: #fff;
    background: $accent;
  }
}